body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
    overflow: hidden; /* Prevent scrolling */
}

.background {
    width: 100%;
    height: 100%;
    background: url('E91A9561.jpg') no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.overlay {
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent overlay */
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}
.goddess-bella {
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 700;
}

.new-addiction {
    font-family: 'Red Hat Display', sans-serif;
    font-style: italic;
    font-weight: 200;
}
header {
    text-align: center;
    color: #fff;
    margin-top: 20px;
}

header h1 {
    font-size: 5em;
    margin: 0;
}

header h2 {
    font-size: 2em;
    margin: -20px 0 20px 0;
    color: deeppink;
}

.links {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-bottom: 70px;
}

.button {
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 1em;
    transition: background 0.3s, color 0.3s;
}

.button:hover {
    background: #fff;
    color: #000;
}

@media (max-width: 768px) {
    .background {
        background-position: 30% center; /* Move background image to the right */
    }
}
